.nav-outer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #efefef;
  width: 100%;
  position: fixed;
  box-shadow: 0px 5px 13px 0px #000;
}

.week-drop-box,
.login-button,
.save-button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
}

.week-drop-box {
  padding-left: 10px;
}

.login-button:hover,
.save-button:hover,
.week-drop-box:hover {
  cursor: pointer;
  background-color: #ffe501;
}
