.match-up-outer-container {
  width: 270px;
  height: auto;
  border: 2px solid black;
  margin: 15px;
}

.away-home-text {
  padding: 10px;
}

.single-match-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.team-logo {
  height: 30px;
  width: 30px;
  margin: 2px;
}

.away-team-box,
.home-team-box {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 85px;
  height: 40px;
  border-radius: 20px;
}

.home-team-box {
  padding-left: 10px;
}

.away-team-box:hover,
.home-team-box:hover,
.tie-button:hover {
  cursor: pointer;
}

.tie-button {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.selected {
  background-color: yellow;
}
