* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background: center/100% url(./assets/grass_background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.game-board {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
